{% extends 'base.html' %}
{% block title %}Fertility Home{% endblock %}

{% block head %}
    
    <link rel="stylesheet" href="/static/css/homepage.css">

{% endblock %}

{% block body %}

<div class="site-wrapper">
    <div class="site-wrapper-inner">

        <!-- <img src="/static/img/ubermelon-logo.png"> -->
        <div class="box2">
            <h1>We’re coming together to improve your fertility care.</h1>
        </div>
        <div>
            <p class="lead">Fertility_App will support you on your reproductive health journey</p>
            <p class="lead"> – including access to more experts and services.</p>
        </div>
        <div>
            <a href="/register" class="btn btn-lg btn-primary btn-block">SIGN UP</a>
            <a href="/login" class="btn btn-lg btn-primary btn-block">LOGIN</a>
        </div>
    </div>
</div>

<!-- <footer>
    <p>Copyright 2022. All rights reserved.</p>
</footer> -->
{% endblock %}



