{% extends 'base.html' %}
{% block title %}Login{% endblock %}

  {% block head %}
        
        <link rel="stylesheet" href="/static/css/login_register.css">
  {% endblock %}

    
  {% block body %}
    
    <form class="form-signin" method="POST">
    
      <h2 class="heading_supp form-signin-heading">Please Sign In</h2>
    
      <div class="form-items2">
        <label for="email" class="entry">Email Address</label>
        <input type="email"
               name="email"
               class="form-control input-lg form-items1"
               placeholder="Email Address"
               required
               autofocus>
      </div>
    
      <div class="form-items2">
        <label for="password" class="entry">Password</label>
        <input type="password"
               name="password"
               class="form-control input-lg form-items1"
               placeholder="Password"
               required>
      </div>
    
      <div class="heading_supp">
        <button class="btn btn-lg btn-primary" type="submit">Sign In</button>
      </div>
    
    </form>
    
{% endblock %}    
  