{% extends 'base.html' %}
{% block title %}-Meal Details{% endblock %}

  {% block head %}
      <script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.js"></script>

      <link rel="stylesheet" href="/static/css/calendar_style.css">  
      <link rel="stylesheet" href="/static/css/meals.css">
  {% endblock %}

    
  {% block body %}

        <!-- Image with caption -->
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <!-- <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button> -->
      </div>
      <div class="carousel-inner">
        <div class="page_image">
          <img src="/static/img/frederick-medina-ipjIQpUPtiA-unsplash 2.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h1>Energy</h1>
            <h1>that moves </h1>
            <h1>you</h1>
            <h1>forward</h1>
          </div>
        </div>
        
    </div>

    <div id="calendar"></div>


    <h2 class="form-feature heading_supp">You are what you eat</h2>


    <div class="form-meal box" style="margin-right: auto;margin-left: auto;width:1100px">
      
      <h5>Your meal today</h5>
      <form class="form form-group row form_supp" id="meal_form">

      
        <input class="col-3 text-start" type="file"  name="my_file" id="my_file">

        <div class="col-2 text-start" >
        <select name="meal_type" id="meal_type">
          <option value ="breakfast">breakfast</option>
          <option value ="lunch">lunch</option>
          <option value ="dinner">dinner</option>
        </select>
        </div>

          <div class="col-4 text-end">
            <label for="type_of_meal">Ingredients</label>
            <input type="text" name="ingredients-entry" id="ingredients">
          </div>
          <div class="col-2 text-end">
           <button type="submit" id="breakfast-form-button" class=" btn btn-lg btn-primary btn-block">Add Meal</button>
          </div>
      </form>
    </div>
 
    
    <div class="container heading_supp" id="container">
      <h1>Meal Journal</h1>
    </div>
    
    
    <script src="/static/js/meals.js"></script>
  {% endblock %}  