{% extends 'base.html' %}
{% block title %}Register{% endblock %}

  {% block head %}
    
    <link rel="stylesheet" href="/static/css/login_register.css">
  {% endblock %}
    

  {% block body %}

    <form class="form-register" action = "/register" method="POST">
    
      <h2 class="heading_supp form-signin-heading">Please Sign Up</h2>
    
      <div class="form-items2"> 
        <label for="first_name" class="entry">First Name</label>
        <input type="text"
               name="first_name"
               class="form-control input-lg form-items1"
               placeholder="First Name"
               required
               autofocus>
      </div>

      <div class="form-items2">
        <label for="last_name" class="entry">Last Name</label>
        <input type="text"
               name="last_name"
               class="form-control input-lg form-items1"
               placeholder="Last Name"
               required>
      </div>

      <div class="form-items2">
        <label for="email" class="entry">Email Address</label>
        <input type="email"
               name="email"
               class="form-control input-lg form-items1"
               placeholder="Email Address"
               required
               >
      </div>

      <div class="form-items2">
        <label for="password" class="entry">Password</label>
        <input type="password"
               name="password"
               class="form-control input-lg form-items1"
               placeholder="Password"
               required>
      </div>

      <div class="form-items2">
        <label for="re_password" class="entry">Confirm Password</label>
        <input type="password"
               name="re_password"
               class="form-control input-lg form-items1"
               placeholder="Confirm_Password"
               required>
      </div>
    
      <div class="heading_supp">
         <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>
      </div>
    
    </form>
    
{% endblock %} 
    
