{% extends 'base.html' %}
{% block title %}ChartJS and D3 Demos{% endblock %}

{% block head %}
  <script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>
  
  <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <link rel='stylesheet' href='static/css/supplements.css'>
{% endblock %}

{% block body %}

  <!-- Image with caption -->
  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <!-- <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button> -->
    </div>
    <div class="carousel-inner">
      <div class="page_image">
        <img src="/static/img/supplements/OM edited-.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h1>IT's TIME</h1>
          <h1>to clear</h1>
          <h1>up</h1>
          <h1>the FACTS</h1>
        </div>
      </div> 
  </div>

  <!-- Supplements Entry Form -->
  <div class="upcoming-form-h">
    <h1 class="form-feature heading_supp">Supplements</h1>
    <form action = "/supplements" method="GET">
      <div class="form-group row form_supp">
        <label class="col-sm-2 col-form-label" for="supplement">Add your supplement</label>
        <div class="col-sm-10">
          <input type="text"
                name="supplement"
                class="form-control input-lg"
                placeholder="supplement"
                required
                autofocus>
        </div>
      </div>
      <div>
        <h4 class="form-update subheading_supp">When should you take your supplement</h2>
          <label><input type="checkbox" name="upon_rising" value="upon_rising"> Upon rising</label>
          <label><input type="checkbox" name="with_breakfast" value="with_breakfast"> With breakfast</label>
          <label><input type="checkbox" name="mid_morning" value="mid_morning"> Mid-morning</label>
          <label><input type="checkbox" name="with_lunch" value="with_lunch"> With lunch</label>
          <label><input type="checkbox" name="mid_afternoon" value="mid_afternoon"> Mid-afternoon</label>
          <label><input type="checkbox" name="with_dinner" value="with_dinner"> With dinner</label>
          <label><input type="checkbox" name="after_dinner" value="after_dinner"> After dinner</label>
          <label><input type="checkbox" name="before_bed" value="before_bed"> Before bed</label>

      </div>
      <div >
        <label for="supp_dose" class="form-items1" >How many</label>
        <input type="number" class="form-items2" name = "supp_dose" value = 1 step="1" min="1" max="100">
      </div>
      
      <div>
        <label for="supp_dose_type" class="form-items3">Dose</label>
          <select name="supp_dose_type">
            <option value ="capsule">capsule</option>
            <option value ="scoop">scoop</option>
            <option value ="cup">cup</option>
            <option value ="glass">glass</option>
          </select>
      </div>
      <div class="subheading_supp">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Add Supplement</button>
      </div>

    </form>
</div>

<!-- Supplements Rendered Table  -->
{% set timesList = ["Upon rising", "With breakfast", "Mid-morning", "With lunch", "Mid-afternoon", 
                    "With dinner", "After dinner", "Before bed"] %}

<div class="upcoming-form">
  <div class="table_vis">

    <h1>Supplement Chart</h1>
    <p class="question">SubTitle</p>

  </div>

  <table style="width:100%">
    <tr>
      <th>Name</th>
      {% for time in timesList %}
        <th>{{time}}</th>
      {% endfor %}
    </tr>

    {% for name in supplement_names %}
    <tr>
      <td>{{name}}</td>
      {% for dose in data[name] %}

          <td>{{dose}}</td>

      {% endfor %}

    </tr>
    {% endfor %}
  </table>
  </div>

  <div class="box2">
    <h3 class="form-feature dark">Here's What It Actually Takes to Form a New Habit</h3>
  </div>

  <!-- Icons -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-2 icons">
        <i class="bi bi-magic"></i>
        <h11>Cue</h11>
      </div>
      <div class="col-2 icons">
        <i class="bi bi-save2"></i>
        <h11>Routine</h11>
      </div>
      <div class="col-2 icons">
        <i class="bi bi-coin"></i>
        <h11>Reward</h11>
      </div>
      <div class="col-2 icons">
        <i class="bi bi-piggy-bank"></i>
        <h11>21 days</h11>
      </div>
      <div class="col-2 icons">
        <i class="bi bi-command"></i>
        <h11>Habit Loop</h11>
      </div>
    
      </div>
    </div>
  </div>


  <script src="/static/js/chart_supp.js"></script>
  <footer>
    <p></p>
  </footer>
{% endblock %}