{% extends 'base.html' %}
{% block title %}ChartJS and D3 Demos{% endblock %}

{% block head %}
  <link rel="stylesheet" href="/static/css/temperature.css">
  <script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>
{% endblock %}

{% block body %}

    <form class="form" action = "/temperatures" method="GET">

        <h2 class="heading_supp form-feature">Temperature</h2>
        <input type="date" name = "tdate">
      
        <div class="form-items2">
          <label for="temperature" class="feature">Add your temperature</label>
          <input type="text"
                 name="temperature"
                 class="form-control input-lg form-items1"
                 placeholder="temperature"
                 required
                 autofocus>
        </div>
        <div class="subheading_supp">
          <button class="btn btn-lg btn-primary btn-block" type="submit">Add Temperature</button>
        </div>
    </form>
    
<!-- {% for t in  temperature_list %}
<p>{{t}}</p>

{% endfor %} -->

  
  <canvas class="box1" id="test-chart"></canvas>
  
  <script>
    const testChart = new Chart(
      document.getElementById('test-chart'),
      {
        type: 'line',
        data: {
          labels: [ {% for item in temp_dates_list %}
                      "{{item}}",
                    {% endfor %}],
          datasets: [
            {data: [{% for item in temperature_list %}
                       {{item}},
                     {% endfor %}]}
          ]
        }
      }
    );
    
  </script>




  <footer>
    <p></p>
  </footer>
{% endblock %}